@import "./base/reset.css";

.img {
    width: 400px;
    margin-bottom: 10px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

.item {
    background-color: white;
    border-radius: 20px;
    padding: 20px 20px 30px 20px;
}

.title {
    margin-bottom: 7px;
}